#github-container{
    height: 100vh;
    
}

#github-container mat-card{
    margin: 20px auto;
    width: 95%;
    min-height: 85vh
}


.list-container-viewport {
    height: 95vh;
    width: 100%;
  }


  ::-webkit-scrollbar {
    width: .5em;
  }


  ::-webkit-scrollbar-thumb {
    background-color: rgb(238, 169, 79);
  }
  .list-container{
    width: 90%;
    margin: auto;
}

app-repository{
    height: 100px;
}